<header class="header">
    <p class="utd-official-title">The&nbsp;University&nbsp;of&nbsp;Texas&nbsp;at&nbsp;Dallas</p>
    <div class="nav">
        <p class="legacy-lane-title">Legacy&nbsp;Lane Experience</p>
        <div class="search-bar mobile-search-bar col-s-12 col-m-4 col-l-5">
            <input class="search-text mobile-search-text" type="text" placeholder="Find your brick">
            <a routerLink="/search"><button type="submit" class="search-icon mobile-search-icon"><img src="../../assets/search-glass.png"/></button></a>
        </div>
    </div>
    <picture class="utd-small-logo-container col-s-12">
        <img class="utd-small-logo col-s-3" src="../../assets/utd-monogram-circle-solid.png" alt="UT Dallas">
    </picture>
</header>
