<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="../cssStylesheets/allStuff.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0 !important">
<header class="header">
  <p class="utd-official-title">The&nbsp;University&nbsp;of&nbsp;Texas&nbsp;at&nbsp;Dallas</p>
  <div class="nav">
    <p class="legacy-lane-title">Legacy&nbsp;Lane Experience</p>
    <div class="search-bar mobile-search-bar col-s-12 col-m-4 col-l-5">
      <input class="search-text mobile-search-text" type="text" placeholder="Find your brick">
      <button type="submit" class="search-icon mobile-search-icon"><img src="../media/search-glass.png"/></button>
    </div>
  </div>
  <picture class="utd-small-logo-container col-s-12">
    <img class="utd-small-logo col-s-3" src="../media/utd-monogram-circle-solid.png" alt="UT Dallas">
  </picture>
</header>
</body>
</html>
