<header class="header">
    <p class="utd-official-title">The&nbsp;University&nbsp;of&nbsp;Texas&nbsp;at&nbsp;Dallas</p>
    <div class="nav">
        <p class="legacy-lane-title">Legacy&nbsp;Lane Experience</p>
    </div>
    <picture class="utd-small-logo-container col-s-12">
        <img class="utd-small-logo col-s-3" src="../../assets/utd-monogram-circle-solid.png" alt="UT Dallas">
    </picture>
</header>
<div class="col-l-12 col-s-12 col-m-12 homepage-center-content homepage-mobile-center-content">
    <video class="embedded-homepage-video" autoplay muted loop>
        <source src="../../assets/Legacy-Lane.mp4" type="video/mp4">
    </video>
    <div class="col-s-12 col-m-12 col-l-12 homepage-search-bar mobile-homepage-search-bar">
        <p class="mobile-search-desc">Ready to customize your brick?</p>
        <input class="homepage-search-text mobile-homepage-search-text" type="text" placeholder="Find your brick">
        <a routerLink="/search"><button type="submit" class="homepage-search-icon mobile-homepage-search-icon"><img src="../../assets/search-glass.png"/></button></a>
    </div>
</div>
