<app-header></app-header>
<div class="row">
    <div class="col-s-12 col-m-6">
        <div class="row">
            <div class="col-s-3 col-m-3"><p> </p></div>
            <div class="col-s-9 col-m-9" style="margin-bottom: 10px">
                <a routerLink="/search">Back to search results</a>
            </div>
        </div>
        <img src="../../assets/Brick.png" alt="Legacy Lane Brick" class="brick-image">
    </div>
    <div class="col-s-12 col-m-6">
        <div class="row">
            <div class="col-s-3"><p> </p></div>
            <div class="col-s-9">
                <p><strong>FALLON WALLACE<br>
                MSHEALTHCARE/MBA<br>
                CLASS OF 2015</strong></p>
                <p>Located in year 2015</p>
                <p>#ClassOf2015<br>
                #PhiThetaKappas</p>
                <p>Hey, Y'all! I found my brick.<br>
                I am a proud graduate of Biomedical Engineering<br>
                from the University of Texas at Dallas.</p>
                <br><br>
                <a routerLink="/brick/claim"><button class="claim-brick-button">Claim Brick</button></a>
            </div>
        </div>
    </div>
</div>
