<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="../cssStylesheets/brickPage.css"/>
  <link rel="stylesheet" type="text/css" href="../cssStylesheets/allStuff.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="row">
  <div class="col-s-12 col-m-6">
    <div class="row">
      <div class="col-s-3 col-m-3"><p> </p></div>
      <div class="col-s-9 col-m-9" style="margin-bottom: 10px">
        <a href="searchPage">Back to search results</a>
      </div>
    </div>
    <img src="../media/Brick.png" alt="Legacy Lane Brick" class="brick-image">
  </div>
  <div class="col-s-12 col-m-6">
    <div class="row">
      <div class="col-s-3"><p> </p></div>
      <div class="col-s-6 col-m-6">
        <p style="text-align: center">Complete this form to verify your identity.</p>
        <form action="#" method="post">
          <label>First and last name</label>
          <input type="text" name="name">
          <label>Email address</label>
          <input type="text" name="email">
          <label>Phone number</label>
          <input type="text" name="phone">
          <label>Net ID - if applicable</label>
          <input type="text" name="netID">
          <textarea name="message" placeholder="Message text - max 500 characters.&#10;Use # to tag student groups and organizations"></textarea>
          <a href="claimBrickPage"><button class="claim-brick-button">Submit</button></a>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
